extends layout
block content
   h2='Gelery'
      a.column(href='#')
        img.slide(src='images/gelery/1c79a043d2b9.jpg')
        p Слайд1
      a.column(href='#')
        img.slide(src='images/gelery/2ed2b8a0a9bc.jpg')
        p Слайд2
      a.column(href='#')
        img.slide(src='images/gelery/21b2992d1815.jpg')
        p Слайд3
      a.column(href='#')
        img.slide(src='images/gelery/73ec51d1f0ee.jpg')
        p Слайд4
      a.column(href='#')
        img.slide(src='images/gelery/249dc613ff58.jpg')
        p Слайд5
      a.column(href='#')
        img.slide(src='images/gelery/b3e0341f1968.jpg')
        p Слайд6		